{{ 'slideshow.css' | asset_url | stylesheet_tag }}
{{ 'section-slider-button-controls.css' | asset_url | stylesheet_tag }}
{{ 'animation.css' | asset_url | stylesheet_tag }}

{%- style -%}
  {%- if section.settings.slide_height == 'adapt_image' and section.blocks.first.settings.image != blank -%}
   #Slider-{{ section.id }} .slideshow__banner--media--adapt_image {
     padding-bottom: {{ 1 | divided_by: section.blocks.first.settings.image.aspect_ratio | times: 100 }}%;
   }
  {% if section.blocks.first.settings.mobile_image != blank %}
    @media screen and (max-width: 749px) {
      #Slider-{{ section.id }} .slideshow__banner--media--adapt_image {
        padding-bottom: {{ 1 | divided_by: section.blocks.first.settings.mobile_image.aspect_ratio | times: 100 }}%;
      }
    }
    {% endif %}
  {%- endif -%}

  {% if section.settings.slide_height == 'adapt_image' %}
    {% if section.blocks.first.settings.image == blank and section.blocks.first.settings.mobile_image != blank %}
      @media screen and (max-width: 749px) {
        #Slider-{{ section.id }} .slideshow__mobile--media--adapt_image {
          padding-bottom: {{ 1 | divided_by: section.blocks.first.settings.mobile_image.aspect_ratio | times: 100 }}%;
        }
      }
    {% else %}
     @media screen and (max-width: 749px) {
        #Slider-{{ section.id }} .slideshow__mobile--media--adapt_image {
          min-height: 35rem;
        }
      }
   {% endif %}

  {%- endif -%}

  {%- unless section.settings.slide_height == 'adapt_image' or section.blocks.first.settings.image != blank -%}
    @media screen and (min-width: 768px){
      .slideshow__banner--media--adapt_image.placeholder {
          height: 56rem;
      }
    }
  {%- endunless -%}

  @media only screen and (min-width: 750px) and (max-width: {{ settings.container_lg_width }}px){
    .right--position .slideshow__text {
        right: 5rem;
    }
    .left--position .slideshow__text {
        left: 5rem;
    }
  }
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.mobile_padding_top }}px;
    padding-bottom: {{ section.settings.mobile_padding_bottom }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }

  /* #slideshow--button-{{ section.id }}.slideshow--slider.slider--controls--button {
     --slider-button-background: {{ section.settings.button_background.settings.background }};
     --slider-button-gradiant-background: {{ section.settings.button_background.settings.background_gradient }};
     --slider-button-color: {{ section.settings.button_background.settings.text }};
  } */

.slideshow__banner--media--adapt_image.placeholder {
    min-height: 90rem;
}



.slideshow__wrapper.nrb_active__scale .swiper-slide.swiper-slide-active .slideshow__media img {
    transform: scale(1);
    transition: transform 11s cubic-bezier(0.1, 0.2, 0.7, 1);
}
.slideshow__wrapper.nrb_active__scale .swiper-slide .slideshow__media img {
    transform: scale(1.04);
    -webkit-transform: scale(1.04);
}
.nrb_active__scale  .slideshow__media:after {
    opacity: 30%;
}









  
{%- endstyle -%}

{%- liquid
  assign pagination = section.settings.pagination_style
  case pagination
    when 'dots'
      assign pagination_class = 'pagination--dots'
    when 'counter'
      assign pagination_class = 'pagination--counter'
    else
      assign pagination_class = 'pagination--numbers'
  endcase
-%}

<div
  data-section-id="{{ section.id }}"
  data-section-type="slideShow"
  id="Slider-{{ section.id }}"
  data-slider-autoplay="{{ section.settings.autorotate }}"
  data-slider-delay="{{ section.settings.autorotate_speed }}000"
  data-slider-loop="{%- if section.blocks.size > 1 -%}true {%- else -%} false {%- endif -%}"
  data-pagination="{{ pagination }}"
  class="section-{{ section.id }}-padding"
>
  {% unless section.settings.make_section_full_width %}
    <div class="container">
  {% endunless %}

  <div class="swiper slideshow__wrapper  {% if section.settings.show_img_scale %} nrb_active__scale {% endif %} ">
    <div
      class="slideshow--slider slider--controls--button color-{{ section.settings.button_background }} gradient {% unless section.settings.show_mobile_nav %}slideshow--mobile-navs-hide{% endunless %}"
      id="slideshow--button-{{ section.id }}"
    >
      {%- if section.settings.show_arrows -%}
        <div class="swiper-button-prev slideshow--nav-button product__slider--button {{ section.settings.arrow__color }} {{ section.settings.mobile__arrow_color }}">
          {% render 'slider-left-arrow-icon' %}
        </div>
      {%- endif -%}

      {%- if section.settings.show_arrows -%}
        <div class="swiper-button-next slideshow--nav-button product__slider--button {{ section.settings.arrow__color }} {{ section.settings.mobile__arrow_color }}">
          {% render 'slider-right-arrow-icon' %}
        </div>
      {%- endif -%}
    </div>

    <div class="swiper-wrapper">
      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when 'slide' -%}
            {%- liquid
              assign box_content_align = block.settings.content_box_alignment

              case box_content_align
                when 'top-left'
                  assign content_class = 'justify-content-start align-items-start top--position left--position'
                when 'top-center'
                  assign content_class = 'justify-content-start align-items-center top--position'
                when 'top-right'
                  assign content_class = 'justify-content-start align-items-end top--position right--position'
                when 'middle-left'
                  assign content_class = 'justify-content-center align-items-start left--position'
                when 'middle-center'
                  assign content_class = 'justify-content-center align-items-center'
                when 'middle-right'
                  assign content_class = 'justify-content-center align-items-end  right--position'
                when 'bottom-left'
                  assign content_class = 'justify-content-end align-items-start bottom--position left--position'
                when 'bottom-center'
                  assign content_class = 'justify-content-end align-items-center bottom--position'
                else
                  assign content_class = 'justify-content-end align-items-end bottom--position  right--position'
              endcase

              if block.settings.button_type == 'primary'
                assign button_class = ''
              elsif block.settings.button_type == 'secondary'
                assign button_class = 'button--secondary'
              elsif block.settings.button_type == 'outline-lite'
                assign button_class = 'button--outline-lite'
              elsif block.settings.button_type == 'outline-dark'
                assign button_class = 'button--outline-dark'
              elsif block.settings.button_type == 'outline-primary'
                assign button_class = 'button--outline-primary'
              else

              elsif block.settings.button_type == 'button-link'
                assign button_class = 'button--button-link'
              else
                assign button_class = 'button--outline'
              endif

              if block.settings.button_type_2 == 'primary'
                assign button_class_2 = ''
              elsif block.settings.button_type_2 == 'secondary'
                assign button_class_2 = 'button--secondary'
              elsif block.settings.button_type_2 == 'outline-lite'
                assign button_class_2 = 'button--outline-lite'
              elsif block.settings.button_type_2 == 'outline-dark'
                assign button_class_2 = 'button--outline-dark'
              elsif block.settings.button_type_2 == 'outline-primary'
                assign button_class_2 = 'button--outline-primary'
              elsif block.settings.button_type == 'button-link'
                assign button_class = 'button--button-link'
              else
                assign button_class_2 = 'button--outline'
              endif
            -%}
            <div
              class="swiper-slide"
              tabindex="-1"
              {{ block.shopify_attributes }}
            >
              <div
                class="
                  slideshow__media slideshow__banner--media--{{ section.settings.slide_height }} media {% if block.settings.image != blank %} {%- else -%}
                  {% if block.settings.mobile_image != blank  %} slideshow__mobile--media--{{ section.settings.slide_height }} slider-mobile--media {% endif %} placeholder{% endif %}

                  {% if block.settings.show_image_overlay %}  image_overlay_show  {% endif %} 
                "
                id="Slide-{{ section.id }}-{{ forloop.index }}"
              >
                {%- liquid
                  assign height = block.settings.image.width | divided_by: block.settings.image.aspect_ratio | round
                  assign sizes = '100vw'
                  assign widths = '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840'
                -%}
                {%- if block.settings.image -%}
                  {{
                    block.settings.image
                    | image_url: width: 3840
                    | image_tag: loading: 'lazy', height: height, sizes: sizes, widths: widths
                  }}
                {%- else -%}
                  {% if block.settings.mobile_image != blank %}
                    {{ 'hero-apparel-2' | placeholder_svg_tag: 'placeholder-svg' }}
                  {% else %}
                    {{ 'hero-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
                  {% endif %}
                {%- endif -%}
                {% if block.settings.mobile_image != blank %}
                  {%- liquid
                    assign height = block.settings.mobile_image.width | divided_by: block.settings.mobile_image.aspect_ratio | round
                    assign sizes = '100vw'
                    assign widths = '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840'
                  -%}
                  {{
                    block.settings.mobile_image
                    | image_url: width: 3840
                    | image_tag:
                      loading: 'lazy',
                      class: 'd-sm-only-visible',
                      height: height,
                      sizes: sizes,
                      widths: widths
                  }}
                {%- endif -%}
              </div>

              {%- if block.settings.heading != blank
                or block.settings.subheading != blank
                or block.settings.description != blank
                or block.settings.button_label != blank
              -%}
                <div
                  id="single__slider--id-{{ block.id }}"
                  class="slideshow__text-wrapper {% if block.settings.show_text_box == false %} slider_banner--desktop-transparent{% endif %} {% unless section.settings.show_content_below_image %} show_content--on-image {% endunless %} {{ content_class }} slider--alignment__desktop--{{ block.settings.alignment_desktop }} slider--alignment__mobile--{{ block.settings.alignment_mobile }}"
                >
                  <div class="slideshow__text banner__box {{ block.settings.content_animation }} color-{{ block.settings.color_scheme }} gradient ">
                    {%- capture 'subheading' -%}
                      {%- if block.settings.subheading != blank -%}
                        <div class="banner__text subheading" style="--sub-heading-text: {{ block.settings.sub_heading_text_color }}">
                          <span>{{ block.settings.subheading }}</span>
                        </div>
                      {%- endif -%}
                    {%- endcapture -%}

                    {%- capture 'heading' -%}
                       {%- if block.settings.heading != blank -%}
                        <h2 class="banner__heading {{ block.settings.heading_size }} mb-0">
                          {{ block.settings.heading }}
                        </h2>
                       {%- endif -%}
                    {%- endcapture -%}

                    {%- capture 'description' -%}
                      {%- if block.settings.description != blank -%}
                        <div class="banner__text">
                          <span>{{ block.settings.description }}</span>
                        </div>
                      {%- endif -%}
                    {%- endcapture -%}

                    {%- if block.settings.heading_position == 'top' -%}
                      {{ subheading }}
                      {{ heading }}
                      {{ description }}
                    {%- elsif block.settings.heading_position == 'bottom' -%}
                      {{ description }}
                      {{ heading }}
                      {{ subheading }}
                    {%- endif -%}

                    {%- if block.settings.button_label != blank -%}
                      <div class="banner__buttons slideshow--banner-button">
                        {% if block.settings.button_label != blank %}
                          <a
                            {% if block.settings.link %}
                              href="{{ block.settings.link }}"
                            {% else %}
                              role="link" aria-disabled="true"
                            {% endif %}
                            class="button button--{{ block.settings.button_size }} {{ button_class }}"
                          >
                            {{- block.settings.button_label | escape -}}
                            <span class="right__btn_svg">
                             <svg id="fi_14440636" enable-background="new 0 0 512 512" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><g id="Layer_2_00000103972821825980288310000012755641873027120305_"><g id="Layer_2_copy_13"><g id="_113"><path d="m479 0h-386.9c-18.2 0-33 14.8-33 33s14.8 33 33 33h307.1l-389.5 389.6c-12.9 12.9-12.9 33.8 0 46.7s33.8 12.9 46.7 0l389.5-389.6v307.1c0 18.2 14.8 33 33 33s33-14.8 33-33v-386.8c.1-18.2-14.7-33-32.9-33z"></path></g></g></g></svg>
                            </span>
                          </a>
                        {% endif %}
                        {%- if block.settings.button_label_2 != blank -%}
                          <a
                            {% if block.settings.link_2 %}
                              href="{{ block.settings.link_2 }}"
                            {% else %}
                              role="link" aria-disabled="true"
                            {% endif %}
                            class="button button--{{ block.settings.button_size }} {{ button_class_2 }}"
                          >
                            {{- block.settings.button_label_2 | escape -}}
                          </a>
                        {%- endif -%}
                      </div>
                    {%- endif -%}
                  </div>
                </div>
              {%- endif -%}

              {%- if section.settings.slide_height == 'adapt_image' and section.blocks.first.settings.image == blank -%}
                {%- style -%}
                  @media screen and (max-width: 767px) {
                    #Slide-{{ section.id }}-{{ forloop.index }}.slideshow__banner--media--adapt_image  {
                    	padding-bottom: {{ 1 | divided_by: block.settings.image.aspect_ratio | times: 100 }}%;
                    }
                  }

                  @media screen and (min-width: 768px) {
                    #Slide-{{ section.id }}-{{ forloop.index }}.slideshow__banner--media--adapt_image {
                        padding-bottom: {{ 1 | divided_by: block.settings.image.aspect_ratio | times: 100 }}%;
                    }
                  }
                {%- endstyle -%}
              {%- endif -%}
            </div>
        {%- endcase -%}
      {%- endfor -%}
    </div>

    <div class="slideshow--slider slider--controls--bullet {% unless section.settings.show_mobile_dots %}slideshow--mobile-dots-hide{% endunless %}">
      {%- if section.settings.show_dots -%}
        <div
          class="swiper-pagination slideshow--bullet-button {{ pagination_class }} {{ section.settings.dots_color }} {{ section.settings.mobile__dots_color }}"
        ></div>
      {%- endif -%}
    </div>
  </div>

  {% unless section.settings.make_section_full_width %}
    </div>
  {% endunless %}
</div>

{% schema %}
{
  "name": "Slideshow",
  "settings": [
    {
      "type": "select",
      "id": "slide_height",
      "options": [
        {
          "value": "adapt_image",
          "label": "Adapt to first image"
        },
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "medium",
          "label": "Medium"
        },
        {
          "value": "large",
          "label": "Large"
        }
      ],
        "default": "large",
        "label": "Slide height"
      },
    {
        "type": "checkbox",
        "id": "autorotate",
        "label": {"en": "Auto-rotate slides"},
        "default": false
    },
    {
        "type": "range",
        "id": "autorotate_speed",
        "label": {"en": "Change slides every"},
        "max": 20,
        "min": 1,
        "step": 1,
        "unit": "s",
        "default": 5
    },
    {
        "type": "checkbox",
        "id": "show_dots",
        "label": "Show pagination",
        "default": true
     },
    {
      "type": "select",
      "id": "pagination_style",
      "options": [
        {
          "value": "dots",
          "label": "Dots"
        },
        {
          "value": "counter",
          "label": "Counter"
        },
        {
          "value": "numbers",
          "label": "Numbers"
        }
      ],
      "default": "dots",
      "label": "Pagination style"
    },
    {
      "type": "select",
      "id": "dots_color",
      "label": "Pagination color",
      "default": "dark",
      "options": [
          {
            "value": "dark",
            "label": "Dark"
          },
          {
            "value": "light",
            "label": "Light"
          }
      ]
    },
    {
      "type": "checkbox",
      "id": "show_arrows",
      "label": "Show navigation",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "make_section_full_width",
      "label": "Make section full width",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_img_scale",
      "label": "Active Side Image scale",
      "default": false
    },
    {
      "type": "color_scheme",
      "id": "button_background",
      "default": "accent-1",
      "label": "Background color"
    },
    {
      "type": "header",
      "content": "Mobile settings"
    },
    {
      "type": "checkbox",
      "id": "show_content_below_image",
      "label": "Show content below images on mobile",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_mobile_dots",
      "label": "Show pagination",
      "default": true
    },
    {
      "type": "select",
      "id": "mobile__dots_color",
      "label": "Pagination color",
      "default": "mobile__dark",
      "options": [
          {
              "value": "mobile__dark",
              "label": "Dark"
          },
          {
              "value": "mobile__light",
              "label": "Light"
          }
      ]
    },
    {
        "type": "checkbox",
        "id": "show_mobile_nav",
        "label": "Show navigation",
        "default": true
    },
    {
      "type": "select",
      "id": "mobile__arrow_color",
      "label": "Navigation color",
      "default": "mobile__dark",
      "options": [
        {
            "value": "mobile__dark",
            "label": "Dark"
        },
        {
            "value": "mobile__light",
            "label": "Light"
        }
      ]
    },
    {
      "type": "header",
      "content": "Section padding"
    },
    {
      "type": "paragraph",
      "content": "Desktop"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 150,
      "step": 5,
      "unit": "px",
      "label": "Padding top",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 150,
      "step": 5,
      "unit": "px",
      "label": "Padding bottom",
      "default": 0
    },
    {
      "type": "paragraph",
      "content": "Mobile"
    },
    {
      "type": "range",
      "id": "mobile_padding_top",
      "min": 0,
      "max": 150,
      "step": 5,
      "unit": "px",
      "label": "Padding top",
      "default": 0
    },
    {
      "type": "range",
      "id": "mobile_padding_bottom",
      "min": 0,
      "max": 150,
      "step": 5,
      "unit": "px",
      "label": "Padding bottom",
      "default": 0
    }
  ],
  "blocks": [
    {
      "type": "slide",
      "name": "Slide",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Desktop image",
          "info": "1920 x 900px recommended"
        },
        {
          "type": "text",
          "id": "subheading",
          "default": "Sub heading",
          "label": "Sub heading"
        },
        {
          "type": "color",
          "id": "sub_heading_text_color",
          "label": "Sub heading Color",
          "default": "#121212"
        },
        {
          "type": "textarea",
          "id": "heading",
          "default": "Image slide",
          "label": "t:sections.slideshow.blocks.slide.settings.heading.label"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "h2",
              "label": "Small"
            },
            {
              "value": "h1",
              "label": "Medium"
            },
            {
              "value": "h0",
              "label": "Large"
            }
          ],
          "default": "h1",
          "label": "Heading size"
        },
        {
          "type": "select",
          "id": "heading_position",
          "label": "Heading position",
          "default": "top",
          "options": [
            {
              "value": "top",
              "label": "Top"
            },
            {
              "value": "bottom",
              "label": "Bottom"
            }
          ]
        },
        {
          "type": "textarea",
          "id": "description",
          "default": "Tell your brand's story through images",
          "label": "t:sections.slideshow.blocks.slide.settings.subheading.label"
        },
        {
          "type": "text",
          "id": "button_label",
          "default": "Shop Now",
          "label": "t:sections.slideshow.blocks.slide.settings.button_label.label",
          "info": "t:sections.slideshow.blocks.slide.settings.button_label.info"
        },
        {
          "type": "header",
          "content": "Button one"
        },
        {
          "type": "url",
          "id": "link",
          "label": "t:sections.slideshow.blocks.slide.settings.link.label"
        },
        {
          "type": "select",
          "id": "button_type",
          "label": "Button type",
          "default": "secondary",
          "options": [
            {
              "value": "primary",
              "label": "Primary"
            },
            {
              "value": "secondary",
              "label": "Secondary"
            },
            {
              "value": "button-link",
              "label": "Button link"
            }
          ]
        },
        {
          "type": "text",
          "id": "button_label_2",
          "label": "t:sections.slideshow.blocks.slide.settings.button_label.label",
          "info": "t:sections.slideshow.blocks.slide.settings.button_label.info"
        },
        {
          "type": "header",
          "content": "Button two"
        },
        {
          "type": "url",
          "id": "link_2",
          "label": "Button link 2"
        },
        {
          "type": "select",
          "id": "button_type_2",
          "label": "Button type 2",
          "default": "secondary",
          "options": [
            {
              "value": "primary",
              "label": "Primary"
            },
            {
              "value": "secondary",
              "label": "Secondary"
            },
            {
              "value": "button-link",
              "label": "Button link"
            }
          ]
      },
      {
        "type": "select",
        "id": "button_size",
        "label": "Button size",
        "default": "medium",
        "options": [
            {
              "value": "large",
              "label": "Large"
            },
            {
              "value": "medium",
              "label": "Medium"
            },
                 {
              "value": "small",
              "label": "Small"
            }
          ]
      },
      {
        "type": "checkbox",
        "id": "show_text_box",
        "label": "t:sections.slideshow.blocks.slide.settings.show_text_box.label",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "show_image_overlay",
        "label": "Image overlay Show",
        "default": false
      },
      {
        "type": "color_scheme",
        "id": "color_scheme",
        "label": "t:sections.all.colors.label",
        "default": "background-1"
      },
      {
        "type": "select",
        "id": "content_box_alignment",
        "options": [
          {
            "value": "top-left",
            "label": "t:sections.slideshow.blocks.slide.settings.box_align.options__1.label"
          },
          {
            "value": "top-center",
            "label": "t:sections.slideshow.blocks.slide.settings.box_align.options__2.label"
          },
          {
            "value": "top-right",
            "label": "t:sections.slideshow.blocks.slide.settings.box_align.options__3.label"
          },
          {
            "value": "middle-left",
            "label": "t:sections.slideshow.blocks.slide.settings.box_align.options__4.label"
          },
          {
            "value": "middle-center",
            "label": "t:sections.slideshow.blocks.slide.settings.box_align.options__5.label"
          },
          {
            "value": "middle-right",
            "label": "t:sections.slideshow.blocks.slide.settings.box_align.options__6.label"
          },
          {
            "value": "bottom-left",
            "label": "t:sections.slideshow.blocks.slide.settings.box_align.options__7.label"
          },
          {
            "value": "bottom-center",
            "label": "t:sections.slideshow.blocks.slide.settings.box_align.options__8.label"
          },
          {
            "value": "bottom-right",
            "label": "t:sections.slideshow.blocks.slide.settings.box_align.options__9.label"
          }
        ],
        "default": "middle-left",
        "label": "t:sections.slideshow.blocks.slide.settings.box_align.label",
        "info": "t:sections.slideshow.blocks.slide.settings.box_align.info"
      },
      {
        "type": "select",
        "id": "alignment_desktop",
        "label": "Content alignment",
        "default": "left",
        "options": [
          {
            "value": "center",
            "label": "Center"
          },
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ]
      },
      {
          "type": "select",
          "id": "content_animation",
          "options": [
            {
              "value": "fade",
              "label": "Fade"
            },
            {
              "value": "fade__in__left",
              "label": "FadeInLeft"
            },
            {
              "value": "fade__in__up",
              "label": "FadeInUp"
            },
            {
              "value": "fade__in__down",
              "label": "FadeInDown"
            },
            {
              "value": "",
              "label": "None"
            }
          ],
          "default": "fade__in__up",
          "label": "Content animation"
        },
        {
          "type": "header",
          "content": "Mobile settings"
        },
        {
          "type": "image_picker",
          "id": "mobile_image",
          "label": "Mobile image",
          "info": "600 x 480px recommended"
        },
        {
          "type": "select",
          "id": "alignment_mobile",
          "label": "Content alignment",
          "default": "center",
          "options": [
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ]
        }
      ]
    }
  ],
   "presets": [
      {
        "name": "Slideshow",
        "blocks":[
          {
            "type": "slide"
          },
          {
            "type": "slide"
          }
        ]
      }
    ]
  }
{% endschema %}
